/* Container for the chat session page */
.cases-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 240px;
    /* Consider sidebar width */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 260px);
    box-sizing: border-box;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .cases-container {
        margin-left: 0;
        width: 100%;
    }
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

/* Ticket details styling */
.case-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Message list styling */
.messages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Common message item styling */
.message-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 60%;
    word-wrap: break-word;
}

/* Styling for customer messages (green background, left aligned) */
.customer-message {
    background-color: #c2e7bf;
    color: #155724;
    align-self: flex-start;
}

/* Styling for support messages (blue background, right aligned) */
.support-message {
    background-color: #a5cad1;
    color: #0c5460;
    align-self: flex-end;
}

/* Styling for the session timer */
.session-timer {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: #333;
}

/* Styling for the "Add a Message" form */
.add-message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-message-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

/* Container for the form buttons */
.button-container {
    display: flex;
    gap: 10px;
}

/* Styling for the "Add Message" button */
.add-message-button {
    background-color: #75B9BE;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}

.add-message-button:hover {
    background-color: #7ecdd3;
}